spring:
  config:
    import: application-db.yml, application-redis.yml, application-kafka.yml
  profiles:
    group:  # group name & profile names
      local: db-local-window, redis-local-window, kafka-local-window
      beta: db-beta-linux, redis-beta-linux, kafka-beta-linux
  profiles.default: local

  application:
    name: x

  jpa:
    database: mysql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  messages:
    basename: messages
    encoding: UTF-8

file:
  upload-dir: "C:/Users/dideh/Desktop/Spring/x/image"

jwt:
  secret: "hasdhfidfhosfjsifjoewifhofhouhsfewhfoiwehfufhowufhoiudhsfoshfoeufhaowehfoudafhsadufhsdafhuisodhfuoshfuewhfuowaehfufhiwhwufwaefwaee"
  expiration: 360000000000

server:
  error:
    include-stacktrace: always

resilience4j:
  circuitbreaker:
    configs:
      default:
        registerHealthIndicator: true
        failure-rate-threshold: 10 # 총 몇 번중에 몇 %
        permitted-number-of-calls-in-half-open-state: 5
        sliding-window-size: 5  # 총 몇 번중에
        sliding-window-type: COUNT_BASED
        wait-duration-in-open-state: 10s # 해당 시간 이후 Open이 유지된다.
        automatic-transition-from-open-to-half-open-enabled: true
    instances:
      liveApiCircuitBreaker:
        base-config: default
      notificationApiCircuitBreaker:
        base-config: default


# redis log
logging:
  level:
    io.lettuce.core: DEBUG
    io.netty: DEBUG
    org.springframework.data.redis: DEBUG