<configuration>
    <!-- 기본 설정을 포함 -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <!-- 추가: maxRetries 초과 레코드를 기록할 FileAppender -->
    <appender name="TEST_FILE" class="ch.qos.logback.core.FileAppender">
        <file>./log/test_log.json</file>
        <append>true</append>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <!-- error level의 log가 저장된다. -->
    <logger name="com.example.frontServer.testFileSaveLogger" level="ERROR" additivity="false">
        <appender-ref ref="TEST_FILE" />
    </logger>

    <!-- 추가 설정이 필요한 경우 여기에 계속 작성 -->
</configuration>