<configuration>
    <!-- 기본 설정을 포함 -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="logstash-local-window">
        <!-- logstash ip:port-->
        <property name="LOGSTASH_HOST" value="192.168.5.131:5044"/>
    </springProfile>

    <springProfile name="logstash-beta-linux">
        <property name="LOGSTASH_HOST" value="localhost:5044"/>
    </springProfile>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH_HOST}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- 커스텀 필드 추가 (필요 시)) -->
            <customFields>{"appName":"MySpringBootApp"}</customFields>
        </encoder>
    </appender>

    <logger name="com.example.logstash" level="INFO" additivity="false">
        <appender-ref ref="LOGSTASH"/>
    </logger>

</configuration>